<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>uni1E02</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>uni1E0A</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>AE</string>
		<string>OE</string>
		<string>AEacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni01E2</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>uni1E1E</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>uni01F4</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>Gcaron</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Itilde</string>
		<string>Nacute</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Ibreve</string>
		<string>Idotaccent</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>uni1E40</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Eng</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>IJ</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
		<string>Ldot</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Q</string>
		<string>Oslash</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslashacute</string>
		<string>uni018F</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>uni1E56</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>uni0156</string>
		<string>Rcaron</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>uni0218</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni1E60</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>uni021A</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni1E6A</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
		<string>p</string>
		<string>thorn</string>
		<string>uni1E03</string>
		<string>uni1E57</string>
	</array>
	<key>@MMK_L_bar</key>
	<array>
		<string>bar</string>
		<string>brokenbar</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_copyright</key>
	<array>
		<string>copyright</string>
		<string>registered</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
		<string>dcroat</string>
		<string>uni1E0B</string>
	</array>
	<key>@MMK_L_dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ae</string>
		<string>oe</string>
		<string>aeacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni01E3</string>
	</array>
	<key>@MMK_L_equal</key>
	<array>
		<string>equal</string>
		<string>notequal</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>uni1E1F</string>
		<string>uniFB00</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>uni01F5</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>gcaron</string>
	</array>
	<key>@MMK_L_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni00AD</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>j</string>
		<string>dotlessi</string>
		<string>jcircumflex</string>
		<string>ij</string>
		<string>itilde</string>
		<string>uni01C8</string>
		<string>uni01CB</string>
		<string>ibreve</string>
		<string>i.loclTRK</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>uni0237</string>
		<string>uni01C9</string>
		<string>uni01CC</string>
		<string>fi</string>
		<string>uniFB03</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kgreenlandic</string>
		<string>uni0137</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>uni013C</string>
		<string>fl</string>
		<string>uniFB04</string>
		<string>uni2113</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
		<string>h</string>
		<string>m</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>uni1E41</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>eng</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslashacute</string>
		<string>uni0259</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_L_periodcentered</key>
	<array>
		<string>periodcentered</string>
		<string>middot</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>racute</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>uni0219</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni1E61</string>
	</array>
	<key>@MMK_L_space</key>
	<array>
		<string>space</string>
		<string>uni00A0</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>uni021B</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni1E6B</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>q</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
		<string>uni01F2</string>
		<string>uni01C5</string>
		<string>uni01F3</string>
		<string>uni01C6</string>
		<string>zacute</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>uni01E2</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>H</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>F</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Thorn</string>
		<string>Itilde</string>
		<string>Ldot</string>
		<string>Racute</string>
		<string>uni0156</string>
		<string>Nacute</string>
		<string>Rcaron</string>
		<string>IJ</string>
		<string>uni1E02</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>uni1E0A</string>
		<string>uni01F2</string>
		<string>uni01C5</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1E1E</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Ibreve</string>
		<string>Idotaccent</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>uni0136</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>uni01C8</string>
		<string>uni1E40</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Eng</string>
		<string>uni01CB</string>
		<string>uni1E56</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Q</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>uni01F4</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslashacute</string>
		<string>Gcaron</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>uni0218</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni1E60</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>uni021A</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni1E6A</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aeacute</string>
		<string>uni01E3</string>
	</array>
	<key>@MMK_R_bar</key>
	<array>
		<string>bar</string>
		<string>brokenbar</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_copyright</key>
	<array>
		<string>copyright</string>
		<string>registered</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d</string>
		<string>q</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>uni1E0B</string>
		<string>uni01F3</string>
		<string>uni01C6</string>
	</array>
	<key>@MMK_R_equal</key>
	<array>
		<string>equal</string>
		<string>notequal</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>uni1E1F</string>
		<string>fi</string>
		<string>fl</string>
		<string>uniFB00</string>
		<string>uniFB03</string>
		<string>uniFB04</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>uni01F5</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>gcaron</string>
	</array>
	<key>@MMK_R_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>h</string>
		<string>b</string>
		<string>k</string>
		<string>germandbls</string>
		<string>thorn</string>
		<string>uni0137</string>
		<string>uni1E03</string>
		<string>hbar</string>
		<string>hcircumflex</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni00AD</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>j</string>
		<string>dotlessi</string>
		<string>jcircumflex</string>
		<string>ij</string>
		<string>itilde</string>
		<string>ibreve</string>
		<string>i.loclTRK</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>uni0237</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
		<string>ldot</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>uni01C9</string>
		<string>uni2113</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n</string>
		<string>m</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>kgreenlandic</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>nacute</string>
		<string>uni1E41</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>eng</string>
		<string>uni01CC</string>
		<string>uni1E57</string>
		<string>racute</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>oe</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslashacute</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_R_periodcentered</key>
	<array>
		<string>periodcentered</string>
		<string>middot</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>uni0219</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni1E61</string>
	</array>
	<key>@MMK_R_space</key>
	<array>
		<string>space</string>
		<string>uni00A0</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>uni021B</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni1E6B</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
		<string>zacute</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
